body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.header {
    background-color: rgb(186 215 228);
    padding: 20px;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.menu-background {
    background-color: rgb(61 80 80);
    display: grid;
    grid-template-columns: 80px 80px 80px;
}

.menu {
    background-color: rgb(61 80 80);
    padding: 10px;
    border: 1px solid black;
    color: white;
}

.columns {
    display: grid;
    grid-template-columns: 66% 34%;
}

.sec_columns {
    display: grid;
    grid-template-columns: 50% 50%;
}

.column1 {
    background-color: rgb(179, 179, 179);
    height: 300px;
}

.column2 {
    background-color: rgb(205, 205, 205);
    height: 300px;
}

.column3 {
    background-color: rgb(219, 219, 219);
    height: 300px;
}

.footer {
    padding: 20px;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .columns {
        grid-template-columns: 100%;
    }
}